@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-image: url(./properties/bg1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
@media (max-width: 480px) {
    body {
      background-position: top center;
    }
  }
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 15px 100px;
    transition: 0.5s;
}
@media (max-width: 768px) {
    header {
      padding: 10px 20px;
    }
  }
.logo{
    font-size: 2rem;
    font-weight: 600;
    align-items: center;
    color: white;
    display: flex;
    column-gap: 0.5rem;
}
.btn{
    display: inline-block;
    padding: 13px 28px;   
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);  
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    transition: .5s;
}
.btn:hover{
    background: rgb(255, 255, 255);
    color: #cf4e4e;
}
@media (max-width: 768px) {
    .logo {
      font-size: 25px;
    }
    .btn {
      font-size: 14px;
      padding: 10px 20px;
    }
  }
.content{
    position: fixed;
    top: 40%;
    left: 41%;
    transform: translate(-40%, -41%);
    text-align: center;
    margin: 100px;
    padding: 20px;
}
.content h1{
    color: white;
    font-size: 60px;
    font-weight: 600;
    max-width: 900px;
    margin-top: 40px;
}
.content h2{
    color: white;
    font-weight: 500;
    margin-top: 40px;
}
.content p{
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-top: 10px;
}
.h{
    width: 300px;
    height: 2px;
    background-color: white;
    margin-top: 50px;
    margin-left: 290px;
}
@media (max-width: 428px) {
    .content {
        top: 10%;
        width: 90%;
        left: 5%;
        transform: translate(-30%);
        position: fixed;
      h1 {
        font-size: 30px;  
        
      }
      h2 {
        font-size: 20px; /* Sesuaikan ukuran font */
        margin-top: 20px;
      }
      p {
        font-size: 16px; /* Sesuaikan ukuran font */
      }
      hr{
        margin-left: 25%;
        width: 150px;
      }
    }
}  